 body,html{
    height: 100%;
    margin: 0;
    
  }

  .bg{
    background-image:url("Dog-Playing-on-Green-Grass-1.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 100%;
    position: relative;
  }

  .magnifying-glass{
    position: absolute;
    margin-top: 40px;
    margin-left: 60%;
    /* ma */
  }

  .left_bottom{
    position: absolute;
    bottom: 0;
  }
  .bubble-top{
    margin-bottom: 16px;
    margin-left: 10px;
  }
  .bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }
  

  
  :root {
    --bg: #e3e4e8;
    --fg: #17181c;
    --input: #ffffff;
    --primary: #255ff4;
    --dur: 1s;
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
  }
input {
    color: var(--fg);
    font: 1em/1.5 Hind, sans-serif;
  }
  
 
  
  form, input, .caret {
    margin: auto;
  }
  form {
    position: relative;
    width: 100%;
    max-width: 17em;
  }
  input, .caret {
    display: block;
    transition: all calc(var(--dur) * 0.5) linear;
  }
  input {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em inset;
    caret-color: var(--primary);
    width: 2em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input:focus, input:valid {
    background: var(--input);
    border-radius: 0.25em;
    box-shadow: none;
    padding: 0.75em 1em;
    transition-duration: calc(var(--dur) * 0.25);
    transition-delay: calc(var(--dur) * 0.25);
    width: 100%;
    height: 3em;
  }
  input:focus {
    animation: showCaret var(--dur) steps(1);
    outline: transparent;
  }
  input:focus + .caret, input:valid + .caret {
    animation: handleToCaret var(--dur) linear;
    background: transparent;
    width: 1px;
    height: 1.5em;
    transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
  }
  input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  label {
    color: #e3e4e8;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
  .caret {
    background: currentColor;
    border-radius: 0 0 0.125em 0.125em;
    margin-bottom: -0.6em;
    width: 0.25em;
    height: 1em;
    transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
    transform-origin: 50% 0;
  }
  

  @media (prefers-color-scheme: dark) {	
    :root {
      --bg: #e19510;
      --fg: #e3e4e8;
      --input: #e19510;
      --primary: #5583f6;
    }
  }
  

  @keyframes showCaret {
    from {
      caret-color: transparent;
    }
    to {
      caret-color: var(--primary);
    }
  }
  @keyframes handleToCaret {
    from {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
    }
    25% {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
    }
    50%, 62.5% {
      background: var(--primary);
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
    }
    75%, 99% {
      background: var(--primary);
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
    }
    87.5% {
      background: var(--primary);
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
    }
    to {
      background: transparent;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
    }
  }
  
